<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seismosoft.dualclock">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icons_clock"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icons_clock"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.seismosoft.pentaclock.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seismosoft.pentaclock.activity.TimezoneSelectorActivity"
            android:label="@string/title_activity_timezone_selector"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>